In [ ]:
import pandas as pd

# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Load TSV file into a pandas dataframe
df = pd.read_csv('/content/drive/MyDrive/cleaned_dataset.tsv', sep='\t')

# Filter out rows with "en" column values that have less than two or more than twenty words
en_filtered = df['en'].apply(lambda x: 2 <= len(x.split()) <= 20)

# Filter out rows where "en" column doesn't start with an alphabet
en_filtered &= df['en'].str.match('^[a-zA-Z]')

# Keep only the rows where the "en" column meets the word count and starting letter criteria
filtered_df = df[en_filtered]

# Save filtered dataframe back to TSV file
filtered_df.to_csv('/content/drive/MyDrive/filtered_dataset2.tsv', sep='\t', index=False)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/social_dataset.csv', header=None)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df

,0,1
2,Explore our campus,Erkunden Sie unseren Campus
3,About Yale,Über Yale
4,"Since its founding in 1701, Yale has been dedi...",Seit seiner Gründung im Jahr 1701 widmet sich ...
5,Yale’s reach is both local and international. ...,Die Reichweite von Yale ist sowohl lokal als a...
6,Leadership & Organization,Führung & Organisation
...,...,...
175,Yale Camerata’s Advent Concert featured music ...,Yale Camerata Adventskonzert bot Musik aus der...
176,Yale economist Michael Peters discusses new re...,Yale-Ökonom Michael Peters diskutiert neue For...
177,Yale scientists have decoded the cell signals ...,Yale-Wissenschaftler haben die Zellsignale zwi...
178,graduate and professional school students will...,Hochschulabsolventen und Berufsschüler werden ...
179,Yale School of Nursing has announced,Das teilte die Yale School of Nursing mit

In [ ]:
# Save filtered dataframe back to TSV file
df.to_csv('/content/drive/MyDrive/sample_dataset.tsv', sep='\t', index=False)

In [ ]:
df.to_csv('/content/drive/MyDrive/filtered_dataset.tsv', sep='\t', index=False, mode='a')

In [ ]:
df2 = pd.read_csv('/content/drive/MyDrive/filtered_dataset.tsv', sep='\t')

In [ ]:
df2

,en,de
0,Social Links,Soziale Links
1,Divinity School,Divinity School
2,School of Engineering & Applied Science,School of Engineering & Applied Science
3,Graduate & Professional Study,Absolventen- und Profi -Studie
4,Gateway Navigation,Gateway -Navigation
...,...,...
413,Yale Camerata’s Advent Concert featured music ...,Yale Camerata Adventskonzert bot Musik aus der...
414,Yale economist Michael Peters discusses new re...,Yale-Ökonom Michael Peters diskutiert neue For...
415,Yale scientists have decoded the cell signals ...,Yale-Wissenschaftler haben die Zellsignale zwi...
416,graduate and professional school students will...,Hochschulabsolventen und Berufsschüler werden ...
417,Yale School of Nursing has announced,Das teilte die Yale School of Nursing mit

In [ ]:
# Define function to remove rows with sentences that have less than 2 or greater than 25 words
def remove_rows(df):
    # Split sentences into words and count number of words
    word_counts = df['en'].apply(lambda x: len(x.split()))
    # Keep only rows where sentence has 2-25 words
    filtered_df = df[(word_counts >= 2) & (word_counts <= 20)]
    return filtered_df

In [ ]:
# Call function to remove rows with sentences that have less than 2 or greater than 25 words
df2 = remove_rows(df2)

In [ ]:
df2

,en,de
0,Social Links,Soziale Links
1,Divinity School,Divinity School
2,School of Engineering & Applied Science,School of Engineering & Applied Science
3,Graduate & Professional Study,Absolventen- und Profi -Studie
4,Gateway Navigation,Gateway -Navigation
...,...,...
413,Yale Camerata’s Advent Concert featured music ...,Yale Camerata Adventskonzert bot Musik aus der...
414,Yale economist Michael Peters discusses new re...,Yale-Ökonom Michael Peters diskutiert neue For...
415,Yale scientists have decoded the cell signals ...,Yale-Wissenschaftler haben die Zellsignale zwi...
416,graduate and professional school students will...,Hochschulabsolventen und Berufsschüler werden ...
417,Yale School of Nursing has announced,Das teilte die Yale School of Nursing mit

In [ ]:
# Save filtered DataFrame to new TSV file
df2.to_csv('/content/drive/MyDrive/translated_dataset.tsv', sep='\t', index=False)